@{
    ViewData["Title"] = "Admin Dashboard";
}

<h2>Admin Dashboard</h2>
<div class="list-group">
    <a href="@Url.Action("AddEmployee", "Employee")" class="list-group-item list-group-item-action">Add Employee</a>
    <a href="@Url.Action("UpdateEmployee", "Employee")" class="list-group-item list-group-item-action">Update Employee</a>
    <a href="@Url.Action("DeleteEmployee", "Employee")" class="list-group-item list-group-item-action">Delete Employee</a>
    <a href="@Url.Action("SearchEmployee", "Employee")" class="list-group-item list-group-item-action">Search Employee</a>
    <a href="@Url.Action("DisplayAllEmployees", "Employee")" class="list-group-item list-group-item-action">Display All Employees</a>
</div>
<a href="@Url.Action("Index", "Home")" class="btn btn-danger">Logout</a>